## üß† What is a Lambda Function?
A lambda function is a small, anonymous function (function without a name) in Python. It's used when you need a quick, one-line function.

In [29]:
from IPython.display import HTML
HTML('<img src="Lambda_Vs_For.JPG" style="width:400px;height:300px">')

## ‚úÖ Syntax:

In [2]:
lambda arguments: expression

## Example:

In [3]:
lambda x: x + 5

This means: **‚Äútake x, add 5, and return it‚Äù.**

You use this function inline, typically with pandas methods like .apply().

## üß™ Basic Examples (No Pandas Yet)

In [4]:
add_5 = lambda x: x + 5
print(add_5(10))  # Output: 15

square = lambda x: x * x
print(square(4))  # Output: 16

sum_two = lambda x, y: x + y
print(sum_two(3, 7))  # Output: 10

15
16
10

## üêº Lambda in Pandas: Real Use Cases
We use lambda functions with **.apply()** to perform row-wise or column-wise operations.

Let‚Äôs use this DataFrame:

In [5]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Salary': [50000, 60000, 70000]
})

## ‚úÖ Example 1: Add 10% Bonus to Salary

In [6]:
df['NewSalary'] = df['Salary'].apply(lambda x: x * 1.10)

In [10]:
df

      Name  Salary  NewSalary  NameLength IsHighEarner
0    Alice   50000    55000.0           5           No
1      Bob   60000    66000.0           3          Yes
2  Charlie   70000    77000.0           7          Yes

üîπ apply() runs the lambda for every value in the Salary column

üîπ x represents each value in the column

## ‚úÖ Example 2: Length of Names

In [7]:
df['NameLength'] = df['Name'].apply(lambda x: len(x))

In [11]:
df

      Name  Salary  NewSalary  NameLength IsHighEarner
0    Alice   50000    55000.0           5           No
1      Bob   60000    66000.0           3          Yes
2  Charlie   70000    77000.0           7          Yes

## ‚úÖ Example 3: Conditional Logic

In [9]:
df['IsHighEarner'] = df['Salary'].apply(lambda x: 'Yes' if x > 55000 else 'No')

In [12]:
df

      Name  Salary  NewSalary  NameLength IsHighEarner
0    Alice   50000    55000.0           5           No
1      Bob   60000    66000.0           3          Yes
2  Charlie   70000    77000.0           7          Yes

## ‚úÖ Example 4: Using Lambda on Multiple Columns (with axis=1)
To work with rows (not single columns), set axis=1:

In [17]:
df['Bonus'] = df.apply(lambda row: row['Salary'] * 0.10 if row['Salary'] > 55000 else 0,axis=1)

In [18]:
df

      Name  Salary  NewSalary  NameLength IsHighEarner   Bonus
0    Alice   50000    55000.0           5           No     0.0
1      Bob   60000    66000.0           3          Yes  6000.0
2  Charlie   70000    77000.0           7          Yes  7000.0

üîπ row is a Series representing one row

üîπ You access columns like **row['Salary']**

## ‚úÖ Example 5: Use with groupby()

Let‚Äôs say you want to filter departments whose total salary > 100000:

In [21]:
test=pd.DataFrame({
    'Department': ['HR', 'HR', 'IT', 'IT', 'IT', 'Finance', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace'],
    'Salary': [50000, 60000, 70000, 80000, 75000, 40000, 42000],
    'Bonus': [5000, 6000, 7000, 8000, 7500, 3000, 3500]
}
)

In [22]:
test.groupby('Department').filter(lambda x: x['Salary'].sum() > 100000)

  Department Employee  Salary  Bonus
0         HR    Alice   50000   5000
1         HR      Bob   60000   6000
2         IT  Charlie   70000   7000
3         IT    David   80000   8000
4         IT      Eva   75000   7500

## ‚úÖ Lambda + map() vs apply()

In [23]:
df['UpperName'] = df['Name'].map(lambda x: x.upper())

In [24]:
df

      Name  Salary  NewSalary  NameLength IsHighEarner   Bonus UpperName
0    Alice   50000    55000.0           5           No     0.0     ALICE
1      Bob   60000    66000.0           3          Yes  6000.0       BOB
2  Charlie   70000    77000.0           7          Yes  7000.0   CHARLIE

**map()** is faster but works on single columns only.

**apply()** is more flexible and works for both columns and rows.

In [38]:
HTML('<img src="Lambda.png" style="width:500px;height:300px">')

Here's a set of hands-on practice problems to master using lambda functions in pandas.

We'll build step-by-step ‚Äî from basic column operations to row-wise logic, and then integrate lambda + groupby + filter.

## üß™ Setup: Simple DataFrame

In [30]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Department': ['HR', 'HR', 'IT', 'IT', 'Finance'],
    'Salary': [50000, 60000, 70000, 80000, 45000],
    'Bonus': [5000, 6000, 7000, 8000, 4000]
})

## üß© PRACTICE PROBLEMS ‚Äî LEVEL 1 (Column-wise apply() with lambda)
## ‚úÖ Problem 1: Convert all names to uppercase
‚ùì Task: Create a column 'UpperName' with names in uppercase.

## ‚úÖ Problem 2: Calculate 10% tax on salary
‚ùì Task: Add a new column 'Tax' which is 10% of salary.

## ‚úÖ Problem 3: Label salary level
‚ùì Task: Add column 'SalaryLevel':

'High' if salary > 65000

'Low' otherwise

## üß© PRACTICE PROBLEMS ‚Äî LEVEL 2 (Row-wise logic with apply(axis=1))
## ‚úÖ Problem 4: Calculate total compensation
‚ùì Task: Add a column 'TotalPay' = Salary + Bonus using lambda.

## ‚úÖ Problem 5: Conditional bonus adjustment
‚ùì Task: Add column 'AdjBonus':

If salary > 60000 ‚Üí 15% of salary

Else ‚Üí 10% of salary

Use lambda with axis=1.

## üß© PRACTICE PROBLEMS ‚Äî LEVEL 3 (Lambda with groupby() and filter())
## ‚úÖ Problem 6: Keep only high-paying departments
‚ùì Task: Filter only those departments where the total salary > 100000.
    
    Use:
        df.groupby('Department').filter(lambda x: ...)

## ‚úÖ Problem 7: Flag highest earner in each department
‚ùì Task: Add a column 'IsTopEarner':

Set to 'Yes' if the person has the highest salary in their department

Else 'No'

You‚Äôll need:

.groupby('Department')

.apply(lambda group: ...)

Inside it, find group['Salary'].max() and compare

## ‚úÖ Problem 8: Assign bonus rating
‚ùì Task: Add column 'BonusRating' using this logic:

If Bonus > 7000 ‚Üí 'Excellent'

If Bonus > 5000 ‚Üí 'Good'

Else ‚Üí 'Average'

## üß† Bonus Challenge
## ‚úÖ Problem 9: Department-wise bonus percentage
‚ùì Task: For each person, calculate 'BonusPct' = Bonus / Total Bonus in department.

Steps:

Use .groupby('Department')['Bonus'].transform('sum')

Then use lambda to divide